<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  <h5>
   ファイルアップロードの実験アプリ。気付けば Canvas も
  </h5>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="form-group">
  <label for="file">JPGファイルを選んでください</label><br/>
  <input type="file"
          id="file"
          (change)="handleFileInput($event.target.files)"
          hidden="true"
          id="input-image-file"
          accept="image/jpeg" />
  {{getFilenameToUpload()}}
  <label for="input-image-file" class="mat-raised-button mat-primary">選んでね</label> <!-- ありがとう https://qiita.com/TsuyoshiUshio@github/items/70b9dbb1d0362ba4f478 -->
  <button mat-fab color="primary" (click)="uploadFileToActivity()">送信！</button>
</div>


<div>
  <canvas #myCanvas width="400" height="400" tabindex="0"
      (click)="canvasClick($event)" 
      (mousedown)="canvasMouseDown($event)" 
      (mouseup)="canvasMouseUp($event)"
      (mouseover)="canvasMouseOver()"
      (mouseout)="canvasMouseOut()"
      (mousemove)="canvasMouseMove($event)"
      (keyup)="canvasKeyUp($event)"
      (keypress)="canvasKeyPress($event)"
      (keydown)="canvasKeyDown($event)"></canvas>

  <div>
    幅 <mat-slider min="1" max="400" thumbLabel="true" [(ngModel)]="rectW" (input)="moveW(slider1.value)" #slider1></mat-slider><br/>
    高さ <mat-slider min="1" max="400" thumbLabel="true" [(ngModel)]="rectH" (input)="moveH(slider2.value)" #slider2></mat-slider><br/>
    塗りの色 <input type="color" [(ngModel)]="rectColor" placeholder="color" value="{{rectColor}}" />
  </div>
</div>

<div>
  <canvas #animCanvas width="100" height="100"></canvas>
</div>